<div class="row" style="padding-top: 200px">

<div class="col-sm-4"></div>

<div class="col-sm-4">

  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">e-mail</label>
      <input type="email" class="form-control" id="exampleInputEmail1" (keyup)="onNameKeyUpUsername($event)" placeholder="e-mail">

    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" (keyup)="onNameKeyUpPassword($event)" placeholder="Password">
    </div>
    <button type="submit"  class="btn btn-primary" (click)="getLogin()"> Login</button>
  </form>


</div>

<div class="col-sm-4"></div>

</div>

<router-outlet></router-outlet>

