<h3>Gestion Usuarios</h3>
<router-outlet></router-outlet>

<p>
  Gestione sus usuarios
</p>

<table>
  <tr><!--tr->table row -->
    <th>ID</th> <!--th->table header -->
    <th>Nombre</th>

  </tr>
  <tr *ngFor="let usuario of usuarios">
    <!--  INTERPOLACION -->
    <td>{{usuario.id}}</td><!--td->table detail-->
    <td>{{usuario.nombre}}</td>
    <td>
      <!--  event binding (nombreEvento="Funcion") -->
      <button (click)="eliminar(usuario)" >Eliminar</button>
      <a routerLink="/menu/ver-usuario">
      <button>Ver</button>
      </a>
    </td>
  </tr>
</table>

<!-- DIRECTIVAS-->
<!-- *ngFor-->
